<header class="border-b border-gray-200">
  <div class="container flex items-center p-4 gap-4">
    <a href="/">
      <img src="/assets/img/logo.png" style="max-height: 2.5rem">
    </a>
    <div class="flex-grow"></div>
    <nav class="flex gap-4">
      <a href="/projects">Projects</a>
      <a href="/resume.pdf" target="_blank">Résumé</a>
    </nav>
    <div class="flex items-center gap-3">
      <a href="https://www.linkedin.com/in/felix-leitner-mittersinker-271b09200/" target="_blank">
        <img src="/assets/img/linkedin.svg" alt="LinkedIn" class="h-8">
      </a>
      <a href="https://github.com/lixitrixi" target="_blank">
        <img src="/assets/img/github.svg" alt="GitHub" class="h-9">
      </a>
    </div>
</header>
