<div
  x-data="{ open: false }"
  class="
    card skill-card
    min-w-[24ch] px-6 py-4
    cursor-pointer
  "
  @click="open = !open"
>
  <div class="flex gap-4 items-center">
    <h2>{{ include.name }}</h2>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
      class="
        caret
        w-5 h-5 ml-auto
        transition-transform duration-200 ease-linear
        text-gray-300
      "
      x-bind:class="{
        'rotate-180': !open,
        'rotate-90': open
      }">
      <path d="m9 18 6-6-6-6"></path>
    </svg>
  </div>
  <div class="mt-2" x-show="open" x-collapse>
    <p>{{ include.content }}</p>
  </div>
</div>
